body {
  font-family: sans-serif;
  margin: 2rem;
}

button {
  padding: 0.5rem 1rem;
}

input {
  padding: 0.5rem;
  margin-right: 0.5rem;
}

li {
  list-style-type: square;
}

ul {
  margin-top: 1rem;
  padding-left: 1.2rem;
}

.error {
  color: rgb(224, 99, 99);
  margin-top: 1rem;
  font-weight: bold;
}

.funny {
  position: fixed;
  bottom: 0.5rem;
  right: 0;
}
